<div id="footer">
  <footer class="nav-mobile nav-locale-us nav-lang-en nav-ftr-batmobile">
    <div class="nav-t-search nav-sprite-v3" id="nav-ftr">

      <div class="icp-container-mobile">
        <a class="icp-touch-link-2" href="https://www.amazon.com/gp/customer-preferences/select-language/ref=footer_lang?ie=UTF8&amp;preferencesReturnUrl=%2Fgp%2Faw%2Fs%2Fref%3Dis_s%3Fk%3Dalcohol" id="icp-touch-link-language">
        <div class="icp-nav-globe-img-2 icp-mobile-globe-2"></div><span class="icp-color-base">English</span><span class="nav-arrow icp-up-down-arrow"></span></a>
        <style type="text/css">
        #icp-touch-link-country { display: none; }
        </style><a class="icp-touch-link-2" href="https://www.amazon.com/gp/navigation-country/select-country/ref=?ie=UTF8&amp;preferencesReturnUrl=%2Fgp%2Faw%2Fs%2Fref%3Dis_s%3Fk%3Dalcohol" id="icp-touch-link-country"><span class="icp-flag-3 icp-flag-3-us"></span><span class="icp-color-base">United States</span></a>
      </div>

      <ul class="nav-ftr-horiz">
        <li class="nav-li">
          <a class="nav-a" href="https://www.amazon.com/gp/aw/help/ref=navm_ftr_cou?ie=UTF8&amp;id=cou">Conditions of Use</a>
        </li>
        <li class="nav-li">
          <a class="nav-a" href="https://www.amazon.com/gp/aw/help/ref=navm_ftr_mpa?ie=UTF8&amp;id=mpa">Privacy Notice</a>
        </li>
        <li class="nav-li">
          <a class="nav-a" href="https://www.amazon.com/gp/aw/help/ref=navm_ftr_iba?ie=UTF8&amp;id=201308670">Interest-Based Ads</a>
        </li>
      </ul>
      <div id="nav-ftr-copyright">
        © 1996-2017, Amazon.com, Inc. or its affiliates
      </div>
    </div>
  </footer>
</div>