<div id="nav">
  <div id="nav-mobile-airstream-stripe">
  	<!-- WE COULD ADD OUR OWN BANNER HERE -->
    <!-- <a aria-hidden="true" href="https://www.amazon.com/stream/ref=nav_upnav_mobile_C_SearchAW" id="nav-mobile-airstream-link" tabindex="-1"><img alt="Beautiful things, updated daily" id="nav-mobile-airstream-stripe-img" src="./mobile-amazon_files/mobile_upnav_C_latest_2x._CB504864554_.jpg"></a> -->
  </div>
  <header class="nav-mobile nav-locale-us nav-lang-en nav-ssl nav-rec nav-blueheaven">
    <div class="nav-t-search nav-sprite-v3" id="navbar" role="navigation">
      <div id="nav-logobar">
        <div class="nav-left">
          <div class="nav-prime-1" id="nav-logo">
            <a class="nav-logo-link" href="#" tabindex=""><span class="nav-logo-base nav-sprite"></span> <span class="nav-logo-ext nav-sprite"></span> <span class="nav-logo-locale nav-sprite"></span></a><a aria-hidden="true" aria-label="" class="nav-logo-tagline nav-sprite" href="#" tabindex="1"></a>
          </div>
        </div>
        <div class="nav-right">
          <a aria-label="Cart" class="nav-a" href="#" id="nav-button-cart">
          <div class="nav-cart-empty">
            <i class="nav-icon nav-sprite"></i><span class="nav-cart-count"></span>
          </div></a>
        </div>
      </div>
      <div class="nav-searchbar-wrapper">
        <form accept-charset="utf-8" action="https://www.amazon.com/gp/aw/s/ref=is_s" class="nav-searchbar" id="nav-search-form" method="get" name="nav-search-form" role="search">
          <div class="nav-right">
            <div class="nav-search-submit">
              <input aria-label="Go" class="nav-input" type="submit" value="Go"> <i class="nav-icon nav-sprite"></i>
            </div>
          </div>
          <div class="nav-fill">
            <div class="nav-search-field">
              <input aria-label="Type search keywords" autocomplete="off" class="nav-input" data-aria-clear-label="Clear search keywords" id="nav-search-keywords" name="k" placeholder="" type="text" value="Orientation Drinks"> <a aria-label="Clear search keywords" class="nav-icon nav-sprite nav-search-clear" href="#" tabindex="0"></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </header>
</div>